<div class="main">
    <div class="content">
      <h1>Welcome & <br><span>Energy</span> <br>Management System</h1>
      <p class="par"> Energy management is the proactive and systematic monitoring,<br>
         control and optimization of an organization's energy consumption<br> 
         to conserve use and decrease energy costs. Energy management<br> 
         includes minor actions such as monitoring 
          monthly energy bills <br>
          and upgrading to energy-saving lightbulbs.</p>

    </div>
  </div>
  